<section class="boxes component">
    <div class="wrapper">
        <h2>Category 1</h2>
        <div class="boxes__cont">
            <div class="boxes__box boxes__box--kolo">
                <div class="boxes__box__img">
                    <img srcset="img/zebra240.jpg 240w, img/zebra384.jpg 384w, img/zebra480.jpg 480w" 
                    sizes="(min-width: 1680px) 300px, (min-width: 1200px) 240px, (min-width: 768px) calc((100vw-12rem)/3), (min-width: 420px) calc(50vw-3rem), (min-width: 360px) calc(100vw-4rem), calc(100vw-48px)"
                    src="/img/zebra240.jpg" alt="Zebra na sawannie"/>
                </div>
                <a href="#" class="h3 boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum dolor</p>
            </div>
            <div class="boxes__box">
                <div class="boxes__box__img">
                    <img src="/img/koliber240.jpg" alt="Koliber"/>
                </div>
                <a href="#" class="h3 boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum dolor</p>
            </div>
            <div class="boxes__box">
                <div class="boxes__box__img">
                    <img src="/img/tygrys240.jpg" alt="Tygrys"/>
                </div>
                <a href="#" class="h3 boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum dolor</p>
            </div>
            <div class="boxes__box">
                <div class="boxes__box__img">
                    <img src="/img/los240.jpg" alt="Łoś"/>
                </div>
                <a href="#" class="h3 boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum dolor</p>
            </div>
        </div>
    </div>
</section>

<section class="boxes component">
    <div class="wrapper">
        <h2>Category 2</h2>
        <div class="boxes__cont boxes__cont--elastic">
            <div class="boxes__box">
                <div class="boxes__box__img">
                    <img src="/img/flaming742.jpg" alt="Zebra na sawannie"/>
                </div>
                <a href="#" class="h3 boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum dolor</p>
            </div>
            <div class="boxes__box">
                <div class="boxes__box__img">
                    <img src="/img/flaming860-p.jpg" alt="Koliber"/>
                </div>
                <a href="#" class="h3 boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum dolor</p>
            </div>
    </div>
</section>