<section class="graphic component">
    <div class="wrapper">
        <h2>Grafika na całą szerokość</h2>
    </div>
    <figure class="graphic__cont">
        <picture>
            <source media="(orientation: portrait) and (max-width: 767px)" srcset="img/flaming860-p.jpg">
            <source media= "(orientation: landscape) and (max-width: 767px)" srcset="img/flaming742.jpg">
            <source media= "(min-width: 768px)" srcset="img/flaming1536.jpg">
            <source media= "(min-width: 1680px)" srcset="img/flaming1920.jpg">
            <img class="graphic__img" src="img/flaming742.jpg" alt="flaming"/>
        </picture>
        
        <figcaption class="graphic__desc wrapper">
            <h3 class="graphic__desc__title">Flaming</h3>
            <p class="graphic__desc__txt">bdjwaifrhueivdhbjkjdoafjievhjlzjvi  kdijfls</p>
        </figcaption>
    </figure>
</section>


